<%= form_for @post do |f| %>
    <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited
            this post from being saved:</h2>
          <ul>
            <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p>
      <%= f.label :university %><br>
      <%= f.text_field :university %>
    </p>

    <p>
      <%= f.label :department %><br>
      <%= f.text_field :department %>
    </p>

    <p>
      <%= f.label :course %><br>
      <%= f.text_field :course %>
    </p>

    <p>
      <%= f.label :year %><br>
      <%= f.text_field :year %>
    </p>

    <p>
      <%= f.label :semester %><br>
      <%= f.text_field :semester %>
    </p>

    <p>
      <%= f.submit :submit %>
    </p>
<% end %>