<h1>UH Hilo Articulation</h1>

<%= form_for :post, url: posts_path do |f| %>
    <p>
      <%= f.label :university %><br>
      <%= f.text_field :university %>
    </p>

    <p>
      <%= f.label :department %><br>
      <%= f.text_field :department %>
    </p>

    <p>
      <%= f.label :course %><br>
      <%= f.text_field :course %>
    </p>

    <p>
      <%= f.label :year %><br>
      <%= f.text_field :year %>
    </p>

    <p>
      <%= f.label :semester %><br>
      <%= f.text_field :semester %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>

<%= link_to 'Back', posts_path %>