<p>
  <strong>University:</strong>
  <%= @post.university %>
</p>

<p>
  <strong>Department:</strong>
  <%= @post.department %>
</p>

<p>
  <strong>Course:</strong>
  <%= @post.course %>
</p>

<p>
  <strong>Year:</strong>
  <%= @post.year %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @post.semester %>
</p>
<%= link_to 'Back', posts_path %>
| <%= link_to 'Edit', edit_post_path(@post) %>