<header class="navbar navbar-fixed-top navbar-inverse"><!--Go at top of page -->
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Articulation", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <% if signed_in? && current_user.admin?%>
              <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Admin <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Submissions", submissions_path %></li>
                  <li><%= link_to "Institutions", tbl_institutions_path %></li>
                  <li><%= link_to "Equivalent Courses", tbl_equivalent_courses_path %></li>
                  <li><%= link_to "Transfer Courses", tbl_transfer_courses_path %></li>
                  <li><%= link_to "Index", users_path %></li>
                  <li class="divider"></li>
                </ul>
              </li>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Account <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Profile", current_user %></li>
                  <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Sign out", signout_path, method: "delete" %>
                  </li>
                </ul>
              </li>

          <% else %>
              <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>