<p id="notice"><%= notice %></p>

<p>
  <strong>Transferid:</strong>
  <%= @tbl_equivalent_course.transferID %>
</p>

<p>
  <strong>Approvalid:</strong>
  <%= @tbl_equivalent_course.approvalID %>
</p>

<p>
  <strong>Eq course alpha:</strong>
  <%= @tbl_equivalent_course.eq_course_alpha %>
</p>

<p>
  <strong>Eq course num:</strong>
  <%= @tbl_equivalent_course.eq_course_num %>
</p>

<p>
  <strong>Course title:</strong>
  <%= @tbl_equivalent_course.course_title %>
</p>

<p>
  <strong>Eq hours:</strong>
  <%= @tbl_equivalent_course.eq_hours %>
</p>

<p>
  <strong>Conn:</strong>
  <%= @tbl_equivalent_course.conn %>
</p>

<p>
  <strong>Uhh atr:</strong>
  <%= @tbl_equivalent_course.uhh_atr %>
</p>

<p>
  <strong>Pr:</strong>
  <%= @tbl_equivalent_course.pr %>
</p>

<%= link_to 'Edit', edit_tbl_equivalent_course_path(@tbl_equivalent_course) %> |
<%= link_to 'Back', tbl_equivalent_courses_path %>
