<%= form_for(@submission) do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :student_id_number %><br>
    <%= f.text_field :student_id_number %>
  </div>
  <div class="field">
    <%= f.label :classification %><br>
    <%= f.select :classification, [['FR'], ['SO'],['JR'],['SR']] %> <!--Drop down list -->
  </div>
  <div class="field">
    <%= f.label :major %><br>
    <%= f.select :major, [ ['Administration of Justice'], ['Agriculture'],['Anthropology'],['Art'],
                             ['Astronomy'], ['Biology'],['Business Administration'],['Chemistry'],
                             ['Communication'], ['Computer Science'],['Economics'],['English'],
                             ['Environmental Studies'], ['Geography'],['Geology'],['Hawaiian Studies'],
                             ['History'], ['Japanese Studies'],['Kinesiology and Exercise Sciences'],['Liberal Studies'],
                             ['Linguistics'], ['Marine Science'],['Mathematics'],['Natural Science'],
                             ['Nursing'], ['Performance Arts'],['Pharmacy Studies'],['Philosophy'],
                             ['Physics'], ['Political Science'],['Psychology'],['Sociology'] ] %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :transfer_institution %><br>
    <%= f.text_field :transfer_institution %>
  </div>
  <div class="field">
    <%= f.label :term %><br>
    <%= f.select :term, [['Fall'], ['Spring'], ['Summer']] %>
  </div>
  <div class="field">
    <%= f.label :course_alpha %><br>
    <%= f.select :course_alpha, [ ['ACC'],['AJ'],['AGBU'],['AG'],['ANTH'],['ART'],['ASTR'],['BIOL'],['BUS'],['CHEM'],
                                  ['CHNS'],['COM'],['CS'],['DNCE'],['DRAM'],['ECOM'],['ED'],['KED'],['ENG'],['ESL'],                                    ['ENTO'],['ENSC'],['FIL'],['FIN'],['FOR'],['GEOG'],['GEOL'],['HAW'],['KHAW'],['HWST'],
                                  ['KHWS'],['HIST'],['HON'],['HORT'],['IS'],['JPNS'],['JPST'],['KES'],['LANG'],['LING'],
                                  ['MGT'],['MARE'],['MKT'],['MATH'],['MSL'],['MUS'],['NRES'],['NURS'],['PHPS'],['PHPP'],
                                  ['PHIL'],['PHYS'],['PPTH'],['PPHY'],['POLS'],['PSY'],['QBA'],['SOC'],['SOIL'],['SPAN'],
                                  ['TOUR'],['CBES'],['UNIV'],['WS']] %>
  </div>
  <div class="field">
    <%= f.label :course_number %><br>
    <%= f.text_field :course_number %>
  </div>
  <div class="field">
    <%= f.label :course_hours %><br>
    <%= f.number_field :course_hours %>
  </div>
  <div class="actions">
    <%= f.submit "Create Submission", class: "btn btn-large btn-primary" %>
  </div>
<% end %>
