<h1>UH Articulation Database</h1>
<p>Welcome to the Thunderdome!</p>
<%= link_to "List Mode", controller: "posts" %>

<%= form_for :welcome do |f| %>
    <p>
      <%= f.label :Name %><br>
      <%= f.text_field :Name %>
    </p>

    <p>
      <%= f.label :StudentID %><br>
      <%= f.text_field :StudentID %>
    </p>
    <p>
      <%= f.label :Term %><br>
      <%= f.text_field :Term %>
    </p>

    <p>
      <%= f.label :Major %><br>
      <%= f.text_field :Major %>    <!-- Combobox needs to be added  -->
    </p>
    <p>
      <%= f.label :Email %><br>
      <%= f.text_field :Email %>
    </p>

    <p>
      <%= f.label :Phone %><br>
      <%= f.text_field :Phone %>
    </p>
    <p>
      <%= f.label :Signature %><br>     <!-- Signature needs to be added automatically  -->
      <%= f.text_field :Signature %>

      <%= f.label :Date %>
      <%= f.text_field :Date %>         <!-- Add timestamp function -->
    </p>

    <p>
      <%= f.submit :Submit %>
    </p>
<% end %>